.App {
  text-align: center;
  font-size: 1vw;
  font-family: monospace;
  font-weight: bold;
}
.head{
  background-color: rgb(255, 87, 87);
  color: azure;
  padding: 1vw;
}
.body{
  background-color: cadetblue;
  width: 40vw;
  height: auto;
  padding: 0.5vw;
  margin-left: 28.5vw;
  border-radius: 0.3vw;
}
input{
  color: gray;
  padding: 1vw;
  width: 23vw;
  border-radius: 0.35vw;
  font-size: 1vw;
  font-weight: bold;
}
button{
  color: white;
  background-color: green;
  margin: 1vw;
  padding: 0.5vw;
  width: auto;
  border-radius: 0.25vw;
  font-size: 1vw;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0.1vw 0.1vw 0.1vw 0 black;
}
button:hover{
  color: black;
  background-color: chartreuse;
}
.box{
  display: none;
  grid-template-columns: 1fr 1fr;
  padding: 0.5vw;
  margin: 0.5vw;
  justify-content: center;
}
.box button{
  width: 5vw;
}
#id{
  width: 5vw;
  padding: 0.5vw;
  margin-left: 47vw;
  border-radius: 0.3vw;
  background-color: pink;
}
#result{
  width: 5vw;
  margin-left: 47vw;
  color: red;
  background-color: aqua;
  border-radius: 0.3vw;
  padding: 0.5vw;
}